*{
	margin: 0;
}

header{
	height: 110px;
	width: 100%;
	background-color: #181818;
    display: flex;
}

.headerconto{
	width: 50%;
	height: 130px;
	justify-content: flex-start;
	position: relative;
}	

.menu{
    margin-left: 400px;
     
}

.logo{
	position: absolute;
	width: 110px;
	left: 150px;

}

.logo:hover{
	opacity:  50%;
	transition: 0.8s;
}


.menu li{
	list-style: none;
	float: left;
    margin: 0 15px;
    width: 85px;
}

.onho{
	margin-left: 0px;
}

.menu a{
	text-decoration: none;
    color: #c78c40;
    display: inline-block;
	text-align: center;
    font-size: 19px;
    width: 100%;
    line-height: 130px;
    font-family: 'Red Hat Display', sans-serif;
}

.menu a:hover{
    color: white;
    transition: 0.4s;
}

.menutwo li{
    list-style: none;
	float: left;
    margin: 0 20px;
    width: 80px;
    margin-top: -40px;
    height: 100px;
}

.secnav{
	width: 100%;
	height: 60px;
    background-color: #dcdcdc;
    padding-top: 5px;
}

.twho{
	margin-left: -100px;
}

.menutwo a{
	text-decoration: none;
    color: black;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    line-height: 130px;
    margin-left: 680px;
    font-family: 'Red Hat Display', sans-serif;
}

.menutwo a:hover{
	color: #c78c40;
	transition: 0.2s;
}

.world{
	padding-left: 40px;
}

.watchhh{
	padding-left: 15px;
}

.jew{
	padding-left: 50px;
}


.fullnjpg{
	width: 1850px;
    margin-top: 30px;
    margin-left: auto;
    display: inherit;
    margin-right: auto;
}

.container{
	position: relative;
}

.container:hover{
    opacity: 50%;
    transition: 1s;
}

.containera{
    width: 1850px;
    margin-top: 30px;
    margin-left: auto;
    display: inherit;
    margin-right: auto;
}

.walletrichies{
     position: absolute;
     top: 200px;
     left: 140px;
     color: white;
     font-size: 45px;
     font-family: 'Red Hat Display', sans-serif;
}

.walletrichies1{
     position: absolute;
     top: 200px;
     left: 1440px;
     color: black;
     font-size: 45px;
     font-family: 'Red Hat Display', sans-serif;
}

.pndlo{
	text-align: center;
	margin-top: 40px;
    font-size: 32px; 
    font-family: 'Red Hat Display', sans-serif;
}


.newone{
	width: 300px;
	margin-top: 20px;
	margin-left: 180px;
}

.newone{
	border: 1px solid black; 
	margin-left: 100px;
	margin-top: 100px;
	margin-bottom: 50px;
	text-decoration: none;
	background-color: white; 
	margin-right: 40px;
}

.newone:hover{
	opacity: 50%;
	transition: 0.5s;
}

.newoneimg{
    width: 220px;
    height: 297px;
    margin-bottom: 20px;
    background-color: white; 
    padding-left: 40px;
    padding-top: 10px; 
}

.newone h4{
	font-size: 25px;
	text-align: center;
	color: black;
	background-color: black;
	padding-top: 30px;
    text-decoration: none;
    font-family: 'Red Hat Display', sans-serif;
    color: #c78c40;
}

.newone p{
	text-align: center;
	padding-top: 10px;
	text-decoration: none;
	color: black;
	background-color: black;
	color: #c78c40;
    font-family: 'Red Hat Display', sans-serif;

}

.onemoney{
	padding-bottom: 10px;
	font-size: 20px;
	text-decoration: none;
	background-color: black;
	color: #c78c40;
    font-family: 'Red Hat Display', sans-serif;

}

.contdivone a{
	text-decoration: none;
}


.contdivone{
	display: flex;
    justify-content: center;
}




.watchimg{
    width: 280px;
    height: 297px;
    margin-bottom: 20px;
    background-color: white; 
    padding-left: 10px;
    padding-top: 10px; 
}



.walletimg{
    width: 280px;
    height: 297px;
    margin-bottom: 20px;
    background-color: white; 
    padding-left: 10px;
    padding-top: 10px; 
}


.swarimg{
    width: 280px;
    height: 297px;
    margin-bottom: 20px;
    background-color: white; 
    padding-left: 10px;
    padding-top: 10px; 
}























footer{
	height: 200px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #181818;
    color: white;
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.footerdiv{
	justify-content: flex-start;
}

.footerdiv h3{
    margin-top: 30px;
    margin-left: 80px;
}

.footerdiv p{
	margin-left: 80px;
}

.footerdivtwo{
	justify-content: flex-start;
}

.footerdivtwo h3{
    margin-top: 30px;
    margin-left: 300px;
}

.footerdivtwo p{
	margin-left: 300px;
}

.footerdivthr{
	flex: start;
}

.footerdivthr h3{
    margin-top: 30px;
    margin-left: 300px;
}

.footerdivthr p{
    margin-left: 300px;
}

.footerdivfour{
	flex: start;
}

.footerdivfour h3{
    margin-top: 30px;
    margin-left: 300px;
}

.footerdivfour p{
    margin-left: 300px;
}    